<div class="container-fluid">
    
    <div class="container error">
        <div class="list-group" *ngIf="isError">
            <ul>
                <li>Please filled in all Search Criteria to search.</li>
                <li>Please make sure Maximum Salary and Minimum Salary fields are Number or Decimal values.</li>
                <li>Please make sure whether Offset and Limit fields are Number values.</li>
            </ul>
        </div>
    </div>
  
    <div class="container">
        <div class="row inDiv">
          <div class="col-2 searchWord">
            Minimum Salary :
          </div>
          <div class="col-2">
            <input type="text" class="form-control" name="minSalary" [(ngModel)]="minSalary">
          </div>
          <div class="col-2 searchWord">
            Maximum Salary :
          </div>
          <div class="col-2">
            <input type="text" class="form-control" name="maxSalary" [(ngModel)]="maxSalary">
          </div>
        </div>
  
        <div class="row inDiv">
            <div class="col-2 searchWord">
              Offset :
            </div>
            <div class="col-2">
              <input type="text" class="form-control" name="offset" [(ngModel)]="offset">
            </div>
            <div class="col-2 searchWord">
              Limit :
            </div>
            <div class="col-2">
                <input type="text" class="form-control" name="limit" [(ngModel)]="limit">
            </div>
          </div>
  
          <div class="row inDiv">
            <div class="col-2 searchWord">
              Sort By :
            </div>
            <div class="col-2">
                <select class="form-control" name="sort" [(ngModel)]="sort">
                    <option>id</option>
                    <option>login</option>
                    <option>name</option>
                    <option>salary</option>
                </select>
            </div>
            <div class="col-2 searchWord">
              Order :
            </div>
            <div class="col-2">
                <select class="form-control" name="order" [(ngModel)]="order">
                    <option value="+">Ascending</option>
                    <option value="-">Descending</option>
                </select>
            </div>
          </div>
          <div class="row inDiv">
            <div class="col-2">
            </div>
            <div class="col-2">
            </div>
            <div class="col-2">
            </div>
            <div class="col-2">
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-primary btn-sm" (click)="searchEmpByCriteria()">Search</button>
            </div>
          </div>
      </div>
    <div class="container-fluid"></div>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Login</th>
                    <th scope="col">Name</th>
                    <th scope="col">Salary</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let emp of employees">
                    <td>{{emp.id}}</td>
                    <td>{{emp.login}}</td>
                    <td>{{emp.name}}</td>
                    <td>{{emp.salary}}</td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>

